@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Alike+Angular&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: center;
  align-items: center;

  .iconPageLeft {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 400px;
    max-height: 400px;

    @media (max-width: 1480px) {
      max-width: 300px;
      max-height: 300px;
    }
    @media (max-width: 1280px) {
      max-width: 200px;
      max-height: 200px;
    }
    @media (max-width: 930px) {
      display: none;
    }
  }
  .iconPageRight {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 400px;
    max-height: 400px;

    @media (max-width: 1480px) {
      max-width: 300px;
      max-height: 300px;
    }

    @media (max-width: 1280px) {
      max-width: 200px;
      max-height: 200px;
    }
    @media (max-width: 930px) {
      display: none;
    }
  }

  .containerLogin {
    min-width: 650px;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #16191B;

    @media (max-width: 1080px) {
      min-width: 550px;
    }
    @media (max-width: 980px) {
      min-width: 500px;
    }
    @media (max-width: 930px) {
      width: calc(100vw - 40px);
      overflow: hidden;
    }
    .divTitle {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin: 0;
        color: #04F000;
        font-family: 'Aguafina Script', cursive;
        font-size: 4rem;
        font-weight: 400;
      }
      h3 {
        margin: 0;
        color: #F2F2F2;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 300;
      }
      p {
        color: #F2F2F2;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
      }
    }
    p {
      color: #F2F2F2;
    }
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .assignDeveloper {
        margin: 0%;
        color: #F2F2F2;
        font-size: 10px;
        font-weight: 300;
      }
    }
    
    .centerCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: -webkit-fill-available;

      input {
        width: 80%;
        height: 40px;
        border: 1px solid #F2F2F2;
        border-radius: 5px;
        padding: 0 10px;
        background-color: #16191B;
        color: #F2F2F2;
        font-size: 16px;
        font-weight: 300;
        outline: none;
        margin-bottom: 35px;
        transition: all 0.3s ease;
        &::placeholder {
          color: #F2F2F2;
          font-size: 16px;
          font-weight: 300;
        }
        &:focus {
          border-color: #04F000;
        }
      }
      label {
        color: #F2F2F2;
        font-size: 16px;
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
        width: 80%;
      }
      button {
        width: 80%;
        height: 40px;
        border-radius: 5px;
        padding: 0 10px;
        background-color: #012B00;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        transition: all 0.3s ease;
      }
      button:hover {
        background-color: #F2F2F2;
        color: #16191B;
        cursor: pointer;
      }
      button:active {
        background-color: #04F000;
        color: #16191B;
        cursor: pointer;
        opacity: 0.5;
      }
      button:disabled {
        background-color: #F2F2F2;
        color: #16191B;
        cursor: not-allowed;
        opacity: 0.5;
      }
      button:focus {
        outline: none;
      }
      button:focus-visible {
        outline: 1px solid #F2F2F2;
      }
      .registerButton {
        background-color: #F2F2F2;
        color: #012B00;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        transition: all 0.3s ease;
        margin-top: 10px;

      }
      .registerButton:hover {
        background-color: #012B00;
        text-decoration: underline;
        color: #F2F2F2;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }
      .registerLink {
        color: #04F000;
        font-weight: 600;
      }
      .forgotPassword {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 300;
      }
      .registerLink {
        color: #04F000;
        font-weight: 600;
        text-decoration: none;
      }
      .registerLink:hover {
        text-decoration: underline;
      }
    }
  }
}
